@using System.Data.Entity.ModelConfiguration.Conventions
@using System.Web.DynamicData
@model docas_api_demo.Models.DocasLocation
@{
    ViewBag.Title = @Model.Name;
}
<h2>@Model.Name</h2>
<p>@Model.Address</p>
<p>@Model.ZipCode</p>
<p>@Model.City</p>
<p>@Model.Email</p>
<p>@Model.Phone</p>




